@import 'reset.css';
/*@import 'styles.css';*/

body {
    width: 950px;
    margin: 0px auto;
}

#logo {
    height: 80px;
    line-height: 80px;
}

#navigation {
    border-top: 1px solid #D0C9B6;
    border-bottom: 1px solid #D0C9B6;
    height: 27px;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    font-weight:bold;
}

#navigation ul {
    float: left;
}

#navigation ul li:before {
    content: "\0020 \0020 \0020 \00BB \0020";
    color: #E91B1B;
}

#navigation ul li {
    display: inline;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 27px;
}

#navigation a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #010101;
}

#navigation a:hover {
    color: #E91B1B;
}

#navigation form {
    float: right;
}

.one-column-content {
    margin-top: 10px;
    padding: 15px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #696969;
    line-height: 20px;
}

.one-column-content p {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 70%;
}

.one-column-content ul {
    list-style-type: circle;
    line-height: 20px;
    padding-left: 20px;
}

.two-column-content {
    margin-top: 10px;
    line-height: 20px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    color: #4C4C4C;   
}

.box-content {
    background: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#EEE9E9'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#EEE9E9)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffffff,  #EEE9E9); /* for firefox 3.6+ */
}

.two-column-content #column-one-content {
    border: 1px solid #D0C9B6;
    float: left;
    width: 680px;
}

.two-column-content #sidebar {
    border: 1px solid #D0C9B6;
    float: right;
    width: 250px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

.two-column-content a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #010101;
}

.two-column-content a:hover {
    color: #E91B1B;
}

.main-content {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.main-content a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #010101;
}
.main-content a:hover {
    color: #E91B1B;
}

.main-content p {
    padding: 8px;
}

.main-content ol {
    list-style-type: lower-roman;
    padding-left: 25px;
    line-height:25px;
}

.main-content ul {
    list-style-type: square;
    padding-left: 25px;
    line-height:25px;
}

.sidebar-box {
    padding: 10px;
}

.sidebar-box ul li {
    margin-bottom: 8px;
}

h1 {
    font-family: Verdana, sans-serif;
    color: #FF7700;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
}

h2 {
    font-family: Verdana, sans-serif;
    color: #FF7700;
    margin-bottom: 10px;
}

.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

/* Botões */
a.button {
    background: transparent url('img/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.button span {
    background: transparent url('img/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}

a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}

