{% extends "base.html" %}

{% block column-one-content %}
<div class="grid_9">
    <div class="one-column-content box-content">
        <h1>{{ problema.titulo }}</h1>
        {% if problema.nome_contribuidor %}
        <h2>Contribuição de: {{ problema.nome_contribuidor }}</h2>
        {% endif %}

        {% if not request.session.problema_utilizado %}
        <p>
            <a id="botao_gostei" class="button" href="#" onclick="this.blur();"><span>Gostei! Vamos usar esse!</span></a>
            <a id="botao_talvez" class="button" href="#" onclick="this.blur();"><span>Talvez. Mas mostre-me outro.</span></a>
            <a id="botao_nao_gostei" class="button" href="#" onclick="this.blur();"><span>Não gostei! Mostre-me outro.</span></a>
        </p>
        {% else %}
            {% if request.session.problema_utilizado == problema %}
            Você está resolvendo este problema.
            {% endif %}
        {% endif %}

        <br/><p>
        {% if problema.utilizacoes == 0 %}
            Este problema ainda não foi utilizado em nenhum Dojo.
        {% else %}
            Este problema foi utilizado em {{ problema.utilizacoes }} Dojo(s).
        {% endif %}
        </p>

        <div id="descricao_problema">
            {% autoescape off %}
                {{ problema.descricao }}
            {% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="grid_3">
    <div class="box-content">
        <h1>Já visualizados</h1>
        <ul>
        {% for visualizado in problemas_visualizados %}
            <li><a href="{{ visualizado.get_absolute_url }}">{{ visualizado.titulo }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div><br/>&nbsp;
<div class="grid_3">
    <div class="box-content">
        <h1>Soluções</h1>

        <p>
            <a id="botao_envie_solucoes" class="button" href="#" onclick="this.blur();"><span>Envie sua solução!</span></a>&nbsp;
            {% if problema.solucaoproblema_set.count > 0 %}
            <a id="botao_veja_solucoes" class="button" href="#" onclick="this.blur();"><span>Veja outras soluções!</span></a>&nbsp;
            {% endif %}
        </p>
        <br/>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/themes/smoothness/jquery-ui.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js" type="text/javascript" ></script>
    <script type="text/javascript">
    $(document).ready(function(){

        $('#botao_gostei').click(function() {
            $('#dialog-confirm').dialog({
		        resizable: true,
		        height:300,
		        width:700,
		        modal: true,
		        buttons:
		            {
			            "Sim, vou usar agora este problema em um Dojo!!!": function() {
                            window.location="{% url problema-utilizado-em-dojo problema.id %}";
			            },
				        "Gostei deste problema, mas ainda não vou usá-lo em um Dojo.": function() {
				            $(this).dialog('close');
			            }
		            }
	        });
        });

        $('#botao_talvez').click(function() {
            window.location = '{% url problema-aleatorio %}';
        });

        $('#botao_nao_gostei').click(function() {
            window.location = '/problemas/?nao_gostei={{ problema.id }}';
        });
    });
    </script>
    
    <div id="dialog-confirm" title="Importante!" style="display:none;">
	<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Para obtermos uma estat&iacute;stica confi&aacute;vel dos problemas que realmente s&atilde;o utilizados em Dojos, informe se voc&ecirc; vai utilizar este problema em um Dojo neste exato momento, ou se voc&ecirc; apenas o considerou interessante.</p>
</div>
{% endblock javascript %}
