{% extends "base.html" %}

{% block column-one-content %}
<div class="grid_9">
    <div class="one-column-content box-content">
        <h1>Não existem mais problemas</h1>
        <p>Você já visualizou todos os problemas cadastrados. Tem certeza que nenhum deles ter agradou?</p>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="grid_3">
    <div class="box-content">
        <h1>Já Visualizados</h1>
        <ul>
        {% for problema in problemas_visualizados %}
            <li><a href="{{ problema.get_absolute_url }}">{{ problema.titulo }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
