{% extends "base.html" %}

{% block column-one-content %}
    <div class="main-content">
        <h1>{{ problema.titulo }}</h1>
        <button>Gostei! Vamos usar esse!</button>
        <button>Talvez. Mostre-me outro.</button>
        <button>Não gostei! Mostre-me outro.</button>

        <div id="descricao_problema">
            {% autoescape off %}
                {{ problema.descricao|linebreaksbr }}
            {% endautoescape %}
        </div>
        <br/>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-box">
        <h1>Já visualizados</h1>
        <ul>
        {% for prob in problemas_visualizados %}
            <li><a href="{% url exibe-problema prob.id %}">{{ prob.titulo }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
