{% extends "base.html" %}

{% block column-one-content %}
    <div class="main-content">
        <h1>{{ problema.titulo }}</h1>
        
        {% if not request.session.problema_utilizado %}
        <p>
            <a id="botao_gostei" class="button" href="#" onclick="this.blur();"><span>Gostei! Vamos usar esse!</span></a>
            <!--a id="botao_talvez" class="button" href="#" onclick="this.blur();"><span>Talvez. Mas mostre-me outro.</span></a-->
            <a id="botao_nao_gostei" class="button" href="#" onclick="this.blur();"><span>Não gostei! Mostre-me outro problema.</span></a>
        </p>
        {% else %}
            {% if request.session.problema_utilizado == problema %}
            Você está resolvendo este problema.
            {% endif %}
        {% endif %}

        <br/><p>
        {% if problema.utilizacoes == 0 %}
            Este problema ainda não foi utilizado em nenhum Dojo.
        {% else %}
            Este problema foi utilizado em {{ problema.utilizacoes }} Dojo(s).
        {% endif %}
        </p>

        <div id="descricao_problema">
            {% autoescape off %}
                {{ problema.descricao }}
            {% endautoescape %}
        </div>
        <br/>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-box">
        <h1>Já visualizados</h1>
        <ul>
        {% for visualizado in problemas_visualizados %}
            <li><a href="{% url exibe-problema visualizado.id %}">{{ visualizado.titulo }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascript %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#botao_gostei').click(function() {
                window.location='{% url exibe-problema problema.id %}?gostei';
            });
            $('#botao_nao_gostei').click(function() {
                window.location='/problemas/?nao_gostei={{ problema.id }}';
            });
        });
    </script>
{% endblock javascript %}
