{% extends "base.html" %}

{% block column-one-content %}
    <div class="main-content">
        <h2>{{ problema.titulo }}</h2>
        <a href="{% url problema-aleatorio %}">Não gostei! Mostre outro problema!</a>
        <br/><br/>
        <div id="descricao_problema">
                {{ problema.descricao|linebreaksbr }}
            </pre>
        </div>
        <br/>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-box">
        <h2>Você já viu estes problemas:</h2><br/>
        <ul>
        {% for prob in problemas_visualizados %}
            <li><a href="{% url exibe-problema prob.id %}">{{ prob.titulo }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
