{% extends "base.html" %}

{% block column-one-content %}
<div id="column-one-content" class="box-content">
    <div class="main-content">
        <h1>Não existem mais problemas</h1>
        <p>Você já visualizou todos os problemas cadastrados. Tem certeza que nenhum deles ter agradou?</p>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="box-content">
    <div class="sidebar-box">
        <h1>Já Visualizados</h1>
        <ul>
        {% for problema in problemas_visualizados %}
            <li><a href="{% url exibe-problema problema.id %}">{{ problema.titulo }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
