<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">

<head>
    <title>DojoPuzzles.com - {{ titulo_pagina|default:"Início" }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}grid.css" />
</head>

<body class="container container_12">

    <div id="header" class="grid_12">
        <div id="logo">
            <h1>DojoPuzzles.com</h1>
        </div>
        <div id="navigation">
            <ul id="main-navigation">
                <li><a href="{% url inicio %}">Início</a></li>
                <li><a href="{% url problema-aleatorio %}">Problema Aleatório</a></li>
                <li><a href="{% url todos-problemas %}">Todos os Problemas</a></li>
                <li><a href="{% url contribua %}">Contribua</a></li>
                <li><a href="{% url sobre %}">Sobre</a></li>
            </ul>
            <form action="/problemas/busca/" method="POST">{% csrf_token %}
                <input name="titulo" type="text" size="10" /><input type="submit" value="Buscar" />
            </form>
        </div><!--/navigation-->
    </div><!--/header-->

    <div class='clear'>&nbsp;</div>

    <div id="content">
        {% block one-column-content %}{% endblock %}
        <div class="two-columns-content">
            {% block column-one-content %}{% endblock %}
            {% block sidebar %}{% endblock %}
        </div>
    </div>

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>
