<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">

<head>
    <title>{{ titulo_pagina }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}base.css" />
</head>

<body>
    <div id="header">
        <div id="logo">
            <h1>Dojo Puzzles</h1>
        </div>
        <div id="navigation">
            <ul id="main-navigation">
                <li><a href="{% url inicio %}">Início</a></li>
                <li><a href="{% url problema-aleatorio %}">Problema Aleatório</a></li>
                <li><a href="{% url todos-problemas %}">Todos os Problemas</a></li>
                <li><a href="{% url contribua %}">Contribua</a></li>
                <li><a href="{% url sobre %}">Sobre</a></li>
            </ul>
            <!--form>
                <input id="s" type="text"><a href="">Buscar</a>
            </form-->
        </div><!--/navigation-->
    </div><!--/header-->

    <div id="content">
        <div class="one-column-content">
            {% block one-column-content %}{% endblock %}
        </div><!--/one-column-content-->
   
        <div class="two-column-content">
            <div id="column-one-content" class="box-content">
                {% block column-one-content %}{% endblock %}
            </div><!--column-one-content-->
            <div id="sidebar" class="box-content">
                {% block sidebar %}{% endblock %}
            </div><!--/sidebar-->
        </div><!--two-column-content-->
    </div><!--/content-->

    <div id="footer">
    </div><!--/footer-->
    
    {% block javascript %}
    {% endblock javascript %}
</body>

</html>
