<!--
        problema.html
        
        Copyright 2010 Renne Rocha <rennerocha@rrsoftware.com.br>
        
        This program is free software; you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation; either version 2 of the License, or
        (at your option) any later version.
        
        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.
        
        You should have received a copy of the GNU General Public License
        along with this program; if not, write to the Free Software
        Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
        MA 02110-1301, USA.
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">

<head>
    <title>{{ titulo_pagina }}</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
</head>

<body>
    <div id="header">
        <div id="logo"></div>
        <div id="navigation">
        </div><!--/navigation-->
    </div><!--/header-->

    <div id="content">
        <div class="one-column-content">
        </div><!--/one-column-content-->
   
        <div class="two-column-content">
            <div id="column-one-content">
            </div><!--column-one-content-->

            <div id="sidebar">
            </div><!--/sidebar-->
        </div><!--two-column-content-->
    </div><!--/content-->

    <div id="footer">
    </div><!--/footer-->
</body>

</html>
