{% extends "base.html" %}

{% block one-column-content %}
<div class="one-column-content">
    {% if messages %}
        {% for message in messages %}
        <h2>{{ message }}</h2>
        {% endfor %}
    {% endif %}

    <p>Um Coding Dojo &eacute; um encontro onde um grupo de programadores se
    re&uacute;ne para treinar t&eacute;cnicas e metodologias de desenvolvimento
    de software atrav&eacute;s da solu&ccedil;&atilde;o de um pequeno desafio
    de programa&ccedil;&atilde;o. <a href="{% url sobre %}">Saiba mais...</a></p>

    <p>Existem diversas p&aacute;ginas na Internet com problemas dos mais
    variados formatos que podem ser utilizados em um Dojo. Aqui voc&ecirc; tem
    mais uma op&ccedil;&atilde;o para encontrar o seu problema.</p>
</div>
{% endblock %}

{% block column-one-content %}
<div id="column-one-content" class="box-content">
    <div class="main-content">
        <h1>Escolhendo o problema</h1>

        <p>Existem três maneiras de encontrar um bom problema nesta página:</p>
        <ol>
            <li>Escolhendo um problema aleatório</li>
            <li>Através do formulário de busca</li>
            <li>Pela listagem completa de problemas</li>
        </ol>

        <p>Caso o problema que você escolha seja realmente utilizado em um Dojo
        indique na página do problema, para que possamos saber quais são os 
        problemas mais escolhidos e quais os que não escolhidos.</p>
    </div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar" class="box-content">
    <div class="sidebar-box">
        <h1>CONTRIBUA</h1>
        <p>Participou de um Dojo e resolveu um problema interessante? Ou 
        voc&ecirc; criou um novo problema? Ajude a aumentar a nossa base de
        problemas dispon&iacute;veis. Envie <a href="{% url contribua %}">aqui</a> o seu 
        problema.</p>
    </div>
</div>
{% endblock %}
