{% extends "base.html" %}

{% block one-column-content %}
    <p>Um Coding Dojo &eacute; um encontro onde um grupo de programadores se re&uacute;ne para treinar
    t&eacute;cnicas e metodologias de desenvolvimento de software atrav&eacute;s da solu&ccedil;&atilde;o
    de um pequeno desafio de programa&ccedil;&atilde;o.</p>

    <p>Apesar do desafio, o objetivo do encontro não é a sua solução, e sim o aprendizado colaborativo e 
    divertido de boas práticas de desenvolvimento. <a href="">Leia mais...</a></p>
{% endblock %}

{% block column-one-content %}
    <div class="main-content">
        <h2>{{ problema.titulo }}</h2>
        <a href="{% url problema-aleatorio %}">Não gostei! Mostre outro problema!</a>
        
        <p>Uma das primeiras ações no início de um Dojo é a escolha do problema que será
        trabalhado durante o encontro. Este problema pode ser sugerido por algum dos participantes, 
        ser obtido em algum livro ou em algum dos diversos sites de problemas.</p>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="sidebar-box">
        <h2>Colabore</h2>
    </div>
{% endblock %}