{% extends "base.html" %}

{% block one-column-content %}
<div class="grid_9">
    <div class="one-column-content">
        <h1>Coding Dojo</h1>

        <p>Um Coding Dojo &eacute; um encontro onde um grupo de programadores de 
        v&aacute;rios n&iacute;veis de conhecimento se re&uacute;ne para treinar, em
        um ambiente inclusivo e colaborativo boas t&eacute;cnicas e metodologias de
        desenvolvimento de software atrav&eacute;s da solu&ccedil;&atilde;o de um 
        pequeno desafio de programa&ccedil;&atilde;o.</p>

        <h1>Este Projeto</h1>

        <p>No in&iacute;cio de cada reuni&atilde;o &eacute; escolhido um problema
        simples para ser resolvido. Na Internet existem centenas de fontes de
        problemas (al&eacute;m de problemas criados pelos pr&oacute;prios 
        participantes). Nestas fontes existem problemas de diversos tipos, 
        organizadas de diversas maneiras, que podem ou n&atilde;o ser adequados 
        para os objetivos de um Dojo.</p>

        <p>A proposta deste projeto &eacute; criar um local onde problemas possam 
        ser armazenados e consultados facilmente, al&eacute;m de ser poss&iacute;vel
        saber quais problemas realmente s&atilde;o usados em Dojos. Os problemas 
        armazenados na nossa base de dados devem ter sido preferencialmente 
        utilizados em Dojos (mas problemas inéditos também s&atilde;o bem-vindos) e
        os visitantes s&atilde;o convidados a contribuir com novos problemas.</p>

        <h1>Colabore</h1>

        <p>Esse projeto est&aacute; sendo desenvolvido no meu tempo livre (que
        n&atilde;o &eacute; muito) e o c&oacute;digo est&aacute; a disposiç&atilde;o
        para quem quiser analisar, comentar, corrigir, contribuir, etc. A 
        intenç&atilde;o n&atilde;o &eacute; de fazer muitas funcionalidades, pois o 
        principal objetivo do projeto &eacute; uma boa fonte de problemas de 
        programaç&atilde;o adequadas para um Dojo</p>

        <p>Voc&ecirc; pode ajudar:</p>    

        <ul>
            <li>Enviando problemas.</li>
            <li>Sugerindo novas funcionalidades para a p&aacute;gina.</li>
            <li>Escrevendo c&oacute;digo.</li>
        </ul>

        <p>Para quem quiser colocar a m&atilde;o no c&oacute;digo:</p>    

        <ul>
            <li>Reposit&oacute;rio: <a href="http://www.github.com/rennerocha/dojopuzzles/">http://www.github.com/rennerocha/dojopuzzles/</a>
            <li>Lista de Desejos: <a href="http://goo.gl/eNJfo">http://goo.gl/eNJfo</a>
        </ul>
    </div>
</div>
{% endblock %}
