{% extends "base.html" %}
{% load problemas_utilizados %}

{% block one-column-content %}
<div class="grid_9">
    <div class="one-column-content">
        {% if messages %}
            {% for message in messages %}
            <h2>{{ message }}</h2>
            {% endfor %}
        {% endif %}

        <h1>O que &eacute;?</h1>
        
        <p>Um Coding Dojo &eacute; um encontro onde um grupo de programadores se
        re&uacute;ne para treinar t&eacute;cnicas e metodologias de desenvolvimento
        de software atrav&eacute;s da solu&ccedil;&atilde;o de um pequeno desafio
        de programa&ccedil;&atilde;o. <a href="{% url sobre %}">Saiba mais...</a></p>

        <p>Existem diversas p&aacute;ginas na Internet com problemas dos mais
        variados formatos que podem ser utilizados em um Dojo. Aqui voc&ecirc; tem
        mais uma op&ccedil;&atilde;o para encontrar o seu problema.</p>

        {% if problemas_utilizados > 0 %}
        <h2>Os problemas deste site já foram utilizados em {{ problemas_utilizados }} Coding Dojos!!!</h2>
        {% endif %}

        <h1>Como funciona?</h1>

        <p>Existem três maneiras de encontrar um bom problema nesta página:</p>
        <ol>
            <li>Escolhendo um problema aleatório</li>
            <li>Através do formulário de busca</li>
            <li>Pela listagem completa de problemas</li>
        </ol>

        <p>Caso o problema que você escolha seja realmente utilizado em um Dojo
        indique na página do problema, para que possamos saber quais são os 
        problemas mais escolhidos e quais os que não escolhidos.</p>

        <h1>Gostou do site?</h1>
        <p>Como você deve imaginar manter esse site consome um bom tempo. Tempo de desenvolvimento de novas funcionalidades e de criação/busca de novos problemas. Se você quiser recompensar o desenvolvedor por esse trabalho, considere fazer uma pequena <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=37FFTBL7Q3S8C">doação via PayPal</a>! Muito obrigado!</p>

    </div>
</div>
{% endblock %}

{% block sidebar %}
<div class="grid_3">
    <div class="box-content">
        <h1>CONTRIBUA</h1>
        <p>Participou de um Dojo e resolveu um problema interessante? Ou 
        voc&ecirc; criou um novo problema? Ajude a aumentar a nossa base de
        problemas dispon&iacute;veis. Envie <a href="{% url contribua %}">aqui</a> o seu 
        problema.</p>
        <p style="text-align: center; margin-top: 10px;">
            <a href="http://www.twitter.com/dojopuzzles"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-b.png" alt="Follow dojopuzzles on Twitter"/></a>
        </p>
        <hr/>
        Quer dar uma contribuição para o desenvolvedor? Faça uma doação.
            <form style="text-align: center;" action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Q3JVX2XKSXKCU">
            <input type="image" src="https://www.paypalobjects.com/pt_BR/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - A maneira mais fácil e segura de efetuar pagamentos online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/pt_BR/i/scr/pixel.gif" width="1" height="1">
            </form>
    </div><br/>

    {% get_problemas_mais_utilizados %}
    {% if problemas_utilizados %}
    <div class="box-content">
        <h1>MAIS UTILIZADOS</h1>
        <ul>
        {% for problema in problemas_utilizados %}
            <li><a href="{{ problema.get_absolute_url }}">{{ problema }} ({{ problema.utilizacoes }})</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
