
body {
    width: 950px;
    margin: 0px auto;
}

#logo {
    height: 80px;
    line-height: 80px;
}

#navigation {
    border-top: 1px solid #D0C9B6;
    border-bottom: 1px solid #D0C9B6;
    height: 27px;
	font-family: Verdana, sans-serif;
    font-size: 13px;
}

#navigation ul {
    float: left;
}

#navigation ul li:before {
	content: "\0020 \0020 \0020 \00BB \0020";
    color: #E91B1B;
}

#navigation ul li {
    display: inline;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 27px;
}

#navigation a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #010101;
}

#navigation a:hover {
    color: #E91B1B;
}

#navigation form {
    float: right;
}

.one-column-content {
    margin-top: 10px;
    padding: 15px;
}

.two-column-content {
    margin-top: 10px;
}

.two-column-content #column-one-content {
    border: 1px solid #D0C9B6;
    float: left;
    width: 680px;
}

.two-column-content #sidebar {
    border: 1px solid #D0C9B6;
    float: right;
    width: 250px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

.main-content {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.main-content a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: #010101;
}
.main-content a:hover {
    color: #E91B1B;
}

.sidebar-box {
    padding: 10px;
}

.sidebar-box ul li {
    margin-bottom: 8px;
}

h1 {
    font-family: Verdana, sans-serif;
    color: #FF7700;
    font-size: 24px;
}

h2 {
    font-family: Verdana, sans-serif;
    color: #FF7700;
}
/*
#FFDC12 #736206 #94150F #E91B1B
*/

